:root {
  --main-header-color: #f1f5f7;
  --section-hover-color: rgba(197, 197, 197, 0.3);
  --section-active-color: rgba(169, 169, 169, 0.3);
  --footer-nav-active-color: rgba(241, 245, 247, 0.5);
  --footer-catalog-active-color: rgba(255, 209, 128, 0.5);
  --basic-third-white: rgba(255, 255, 255, 0.3);
  --basic-half-white: rgba(255, 255, 255, 0.5);
  --basic-background-color: #293449;
  --basic-white: #FFFFFF;
  --marks-active-color: #161D29;
  --checkout-background-color: #63A63E;
  --checkout-hover-color: #5FBB2D;
  --login-active-color: #C5C5C5;
  --header-contact-color: #32425C;
  --materials-color: #FFBF47;
  --instruments-color: #3BBCE3;
  --technics-color: #DC91D8;
  --sale-color: #8ED78F;
  --delivery-color: #FFC047;
  --header-content-color: #EE3643;
  --button-hover-color: #CA2C37;
  --button-active-color: #BA2732;
  --popular-color-title: #F9F5F0;
  --basic-black: #000000;
  --products-price-color: #A9A9A9;
  --footer-information-color: #F3F7F9;
  --footer-catalog-color: #FFD180;
  --social-list-color: #212A3A;
  --navigation-active-color: #1D2739;
  --catalog-item-title-color: #F2F6F8;
  --catalog-filter-color: #F7F3EC;
  --catalog-border-color: #EAEAEA;
  --main-header-logo-active: #BA2732;
  --link-hover-color: #3D546F;
}

.page a {
  text-decoration: none;
}

.catalog_page a {
  text-decoration: none;
}

.page_body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  width: 1200px;
  margin: 0 auto;
}

.catalog_page_body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  width: 1200px;
  margin: 0 auto;
}

.page img {
  max-width: 100%;
  height: auto;
}

/* header*/
.main_header {
  background-color: var(--main-header-color);
  padding-bottom: 60px;
}

.main_header_buttons {
  background-color: var(--basic-background-color);
  min-height: 42px;
}

.main_header_buttons_content {
  width: 940px;
  margin: 0 auto;
  display: flex;
  min-height: 42px;
}

.main_header_logo {
  display: block;
  background-color: var(--header-content-color);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  padding: 12px 56px 13px;
  position: absolute;
}

.main_header_logo:active {
  background-color: var(--main-header-logo-active);
}

.user_nav_container {
  display: flex;
  width: 720px;
  margin-left: 220px;
}

.header_button {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  display: block;
}

.search {
  position: relative;
  padding-top: 9px;
  padding-left: 42px;
}

.search::before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  left: 17px;
  top: 11px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.marks {
  position: relative;
  margin-left: auto;
  padding-top: 9px;
  padding-right: 24px;
  padding-left: 43px;
}

.marks::before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  left: 20px;
  top: 12px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket {
  position: relative;
  padding-top: 9px;
  padding-right: 26px;
  padding-left: 35px;
}

.basket_full {
  background-color: var(--header-content-color);
}

.basket::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 12px;
  top: 12px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.checkout {
  padding-top: 9px;
  padding-right: 16px;
  padding-left: 19px;
}

.marks:active {
  background-color: var(--marks-active-color);
}

.checkout {
  background-color: var(--checkout-background-color);
}

.checkout:hover {
  background-color: var(--checkout-hover-color);
}

.checkout:active {
  background-color: var(--checkout-background-color);
}

.header_button:hover::before {
  opacity: 1;
}

.header_button:active::before {
  opacity: 0.3;
}

.header_button:hover {
  color: var(--basic-white);
}

.header_button:active {
  color: var(--basic-half-white);
}

.header_position {
  width: 940px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 158px;
  position: relative;
}

.header_content_position {
  margin-left: 30px;
}

.header_content {
  color: var(--header-content-color);
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  margin: 0;
  padding: 0;
}

.header_contact_position {
  position: absolute;
  top: 46px;
  left: 320px;
}

.header_content_number {
  display: inline-block;
  color: var(--header-content-color);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  outline: 3px solid #FFFFFF;
  outline-offset: -3px;
  padding: 7px 45px 8px 74px;
}

.header_content_number::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  left: 39px;
  top: 13px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header_contacts {
  color: var(--header-contact-color);
  font-size: 14px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: 3px;
}

.login_list {
  align-self: flex-start;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.login_item {
  margin-top: 46px;
}

.login_link {
  display: block;
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
}

.login {
  position: relative;
  padding: 12px 27px 12px 45px;
  margin-right: 10px;
}

.login_icon {
  position: absolute;
  left: 19px;
  top: 14px;
}

/*.login::before {
  content: "";
  width: 21px;
  height: 17px;
  position: absolute;
  left: 19px;
  top: 14px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}*/

.registration {
  padding: 12px 24px;
}

.user_menu {
  align-self: flex-start;
  margin-top: 46px;
  display: flex;
  flex-direction: column;
}

.user {
  display: block;
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  margin: 0 0 7px;
  padding: 12px 57px;
  position: relative;
}

.user_icon {
  position: absolute;
  top: 13px;
  left: 15px;
}

.logout_icon {
  position: absolute;
  top: 15px;
  left: 262px;
}

.user_list {
  list-style: none;
  display: flex;
  margin: 0 35px 0 0;
  align-self: flex-end;
}

.user_item {
  font-size: 16px;
  line-height: 18px;
  display: inline;
  position: relative;
}

.user_item:not(:first-child){
  margin-left: 33px;
}

.user_item:nth-child(2):before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: -16px;
  background-color: var(--header-contact-color);
}

.login_link:hover {
  color: var(--header-content-color);
}

.login_link:hover path,
.user:hover path {
  fill: var(--link-hover-color);
}

.login_link:active {
  color: var(--login-active-color);
}

.login_link:active path,
.user:active path {
  fill: var(--login-active-color);
}

.user_link {
  color: var(--header-contact-color);
}

.user_link:hover {
  color: var(--header-content-color);
}

/*.user_link:hover .user_item:nth-child(2):before {
  color: var(--header-content-color);
}*/

.user:active, .user_link:active {
  color: var(--login-active-color);
}

.main_navigation_position {
  width: 940px;
  margin: 0 auto;
}

.navigation_list {
  background-color: var(--header-contact-color);
  min-height: 60px;
  box-shadow: inset 0 -5px 0 var(--basic-background-color);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0 25px;

}

.navigation_list li {
  display: inline;
}

.navigation_link {
  display: block;
  padding: 16px 28px 15px;
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.navigation_link:hover {
  background-color: var(--basic-background-color);
}

.navigation_link:active {
  color: var(--basic-half-white);
  background-color: var(--navigation-active-color);
}

/*container*/

.container {
  padding-top: 59px;
  padding-bottom: 70px;
}

.main_sections,
.popular,
.services_container,
.information {
  width: 940px;
  margin: 0 auto;
}

.sections_list_first {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
}

.sections_item {
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
  width: 300px;
  min-height: 123px;
  position: relative;
  overflow: hidden;
}

.sections_item_title {
  margin: 0;
  padding-top: 20px;
  padding-left: 23px;
}

.materials .sections_item_title:after {
  content: "New";
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-white);
  width: 100px;
  padding: 8px 0 4px;
  position: absolute;
  left: 252px;
  top: -23px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--header-content-color);
  transform: rotate(45deg);
  transform-origin: top left;
}

.sections_item_button {
  display: block;
  width: 135px;
  text-align: center;
  padding: 10px 0;
  color: var(--basic-white);
  background-color: var(--basic-half-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  position: absolute;
  top: 64px;
  left: 22px;
}

.materials {
  background-color: var(--materials-color);
}

.materials::after {
  content: "";
  width: 44px;
  height: 65px;
  position: absolute;
  left: 213px;
  top: 31px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.instruments {
  background-color: var(--instruments-color);
}

.instruments::after {
  content: "";
  width: 75px;
  height: 61px;
  position: absolute;
  left: 194px;
  top: 34px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.technics {
  background-color: var(--technics-color);
}

.technics::after {
  content: "";
  width: 78px;
  height: 62px;
  position: absolute;
  left: 191px;
  top: 31px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sale {
  background-color: var(--sale-color);
}

.sale::after {
  content: "";
  width: 59px;
  height: 72px;
  position: absolute;
  left: 196px;
  top: 26px;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery {
  background-color: var(--delivery-color);
}

.delivery::after {
  content: "";
  width: 78px;
  height: 63px;
  position: absolute;
  left: 191px;
  top: 32px;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.second_main_section {
  display: flex;
  justify-content: space-between;
}

.gallery {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-black);
  background-image: url("../img/Layer 99.jpg");
  width: 620px;
  height: 266px;
  position: relative;
}

.gallery_container {
  background-color: rgba(0, 0, 0, 0.25);
  padding-top: 23px;
  padding-bottom: 18px;
}

.gallery_title {
  display: block;
  color: var(--basic-white);
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 0 24px;
}

.gallery_text {
  font-size: inherit;
  line-height: inherit;
  font-weight: normal;
  display: block;
  margin: 5px 0 0 24px;
}

.button {
  display: block;
  color: var(--basic-white);
  background-color: var(--header-content-color);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
}

.gallery_button {
  position: absolute;
  top: 201px;
  left: 24px;
}

.popular_button {
  margin-right: 14px;
}

.button:hover {
  background-color: var(--button-hover-color);
}

.button:active {
  background-color: var(--button-active-color);
}

.sections_item_button:hover {
  background-color: var(--section-hover-color);
}

.sections_item_button:active {
  background-color: var(--section-active-color);
}

.sections_list_second {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products {
  margin-top: 59px;
  margin-bottom: 70px;
}

.manufacturers {
  margin-bottom: 50px;
}

.popular_title {
  color: var(--header-contact-color);
  font-size: 30px;
  line-height: 30px;
  background-color: var(--popular-color-title);
  height: 89px;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular_title span {
  margin-left: 28px;
}

.popular_products_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.popular_products_item,
.catalog_item {
  width: 220px;
  min-height: 318px;
  border: 1px solid var(--catalog-border-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.product_title {
  order: -1;
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.popular_products_item:nth-child(2n) .product_title:after,
.catalog_item:nth-child(3n) .product_title:after,
.catalog_item:nth-child(3n+1):not(:first-child) .product_title:after {
  content: "New";
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-white);
  width: 100px;
  padding: 8px 0 4px;
  position: absolute;
  left: 171px;
  top: -23px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--header-content-color);
  transform: rotate(45deg);
  transform-origin: top left;
}

.product_picture {
  order: -2;
  height: 178px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular_product_link {
  display: none;
  order: -2;
  height: 178px;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-white);
  margin: 0;
  box-sizing: border-box;
  padding-top: 38px;
  padding-left: 41px;
}

.product_link_buy {
  display: block;
  color: inherit;
  width: 135px;
  padding-left: 53px;
  padding-top: 11px;
  padding-bottom: 9px;
  margin: 0 0 10px;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63A63E;
  position: relative;
}

.product_link_buy::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 30px;
  top: 11px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.product_link_buy:hover {
  background-color: #5FBB2D;
}

.product_link_buy:active {
  background-color: #518534;
}

.product_link_to_marks {
  display: block;
  color: var(--header-contact-color);
  width: 135px;
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 6px;
  margin: 0;
  border: 3px solid #63A63E;
  box-sizing: border-box;
  border-radius: 2px;
}

.product_link_to_marks:hover {
  border: 3px solid var(--header-contact-color);
}

.product_link_to_marks:active {
  opacity: 0.5;
}

.product_price {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--products-price-color);
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  margin: auto 0 21px;
  display: flex;
  flex-direction: column;
}

.button_price {
  width: 121px;
  height: 38px;
  border-radius: 3px 0 0 3px;
  border: none;
  font-family: inherit;
  color: var(--basic-white);
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  background-color: var(--header-content-color);
  text-align: left;
  padding-left: 32px;
  margin-left: 45px;
  position: relative;
}

.button_price:after {
  content: '';
  display: block;
  position: absolute;
  border: 19px solid transparent;
  border-left: 20px solid var(--header-content-color);
  right: -39px;
  top: 0;
}

.product_old_price {
  margin-bottom: 13px;
  margin-left: 77px;
}

.popular_products_item:hover,
.catalog_item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.popular_products_item:hover .product_picture,
.catalog_item:hover .product_picture {
  display: none;
}

.popular_products_item:hover .popular_product_link,
.catalog_item:hover .popular_product_link {
  display: block;
}

.manufacturer_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.manufacturer_logo {
  margin-right: 20px;
  margin-bottom: 20px;
}

.manufacturer_logo_link {
  background-color: var(--basic-white);
  width: 220px;
  min-height: 145px;
  border: 1px solid var(--catalog-border-color);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manufacturer_logo:nth-child(4n) {
  margin-right: 0;
}

.manufacturer_logo:hover {
  box-shadow: 0 0 10px 5px #EAEAEA;
}

.manufacturer_logo:active {
  box-shadow: 0 0 10px 5px #EAEAEA;
  opacity: 0.5;
}

.services {
  background-color: var(--main-header-color);
  padding-top: 64px;
  padding-bottom: 100px;
  position: relative;
}

.services_title {
  color: var(--basic-black);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 25px;
}

.services_text {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.services_position {
  display: flex;
  padding-top: 70px;
}

.services_list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.services_list:after {
  content: "";
  position: absolute;
  height: 279px;
  width: 20px;
  top: -49px;
  left: 230px;
  background-image: url("../img/Layer 118.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services_link {
  display: block;
  color: var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  background-color: var(--header-contact-color);
  padding: 13px 140px 18px 22px;
  box-shadow: 0 1px 0 #293449,
              inset 0 1px 0 #405069;
}

.services_link:hover {
  background-color: var(--basic-background-color);
  box-shadow: 0 1px 0 #293449,
              inset 0 1px 0 #405069;
}

.services_link:focus {
  background-color: var(--basic-white);
  color: var(--header-contact-color);
  box-shadow: 0 1px 0 #FFFFFF,
              inset 0 1px 0 #FFFFFF;
}

.delivery_container {
  padding-left: 80px;
}

.delivery_title {
  color: var(--header-contact-color);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.delivery_text {
  position: absolute;
}

.services::before {
  content: "";
  width: 468px;
  height: 261px;
  position: absolute;
  left: 601px;
  bottom: 4px;
  background-image: url("../img/Car.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: var(--main-header-color);
}

.information {
  display: flex;
  padding-top: 70px;
  justify-content: space-between;
}

.information_container {
  width: 460px;
}

.information_title {
  color: var(--basic-black);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 24px;
}

.information_text {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.companies_list {
  list-style: none;
  margin: 0;
}

.companies_list li {
  position: relative;
  margin-bottom: 12px;
}

.companies_list li:nth-child(3) {
  margin-bottom: 20px;
}

.companies_list li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -37px;
  width: 25px;
  height: 2px;
  background-color: var(--header-content-color);
}

.companies_item {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 24px;
}

.information_map {
  margin: 32px 0 18px;
}

.button_information {
  width: 220px;
}
.button_map {
  width: 300px;
}

/*Catalog*/

.catalog {
  background-color: var(--basic-white);
  padding-top: 21px;
}

.catalog_item_title,
.catalog_nav_container,
.catalog_position,
.catalog_product_information_container {
  width: 940px;
  margin: 0 auto;
}

.catalog_nav_list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-bottom: 20px;
  display: flex;
}

.catalog_nav_item {
  position: relative;
  margin-right: 41px;
}

.catalog_nav_link {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog_nav_item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 6px;
  width: 8px;
  right: -25px;
  height: 12px;
  background-image: url("../img/Shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog_item_title_container {
  background-color: var(--catalog-item-title-color);
  margin: 0 auto;
  width: 940px;
}

.catalog_item_title {
  color: var(--header-contact-color);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  padding-left: 29px;
  padding-top: 29px;
  padding-bottom: 30px;
}

.catalog_position {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
  padding-top: 20px;
}

.filter_title, .sorting_title {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
}

.catalog_products {
  margin-bottom: 59px;
}

.catalog_products_list {
  list-style: none;
  margin: 0;
  padding-top: 28px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.catalog_item {
  margin-right: 20px;
  margin-bottom: 18px;
  width: 220px;
  min-height: 318px;
}

.catalog_item:nth-child(3n) {
  margin-right: 0;
}

.catalog_number_list {
  list-style: none;
  padding: 0;
  margin: 28px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.catalog_number_link {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  display: inline-block;
  border: 1px solid var(--catalog-border-color);
  box-sizing: border-box;
  border-radius: 2px;
  padding: 10px 15px;
  margin-right: 10px;
}

.catalog_number_item:last-child .catalog_number_link {
  padding: 10px 32px;
  margin-right: 0;
}

.catalog_number_link:hover {
  border: 1px solid var(--login-active-color);
}

.catalog_number_link:active {
  border: 1px solid var(--header-content-color);
}

.catalog_number_link:focus {
  background-color: var(--header-content-color);
  border: 1px solid var(--header-content-color);
}

.catalog_product_information {
  background-color: var(--main-header-color);
}

.catalog_product_information_container {
  padding-top: 64px;
  padding-bottom: 68px  ;
}

.catalog_product_content {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

/*Footer*/

.main_footer {
  background-color: var(--header-contact-color);
}

.footer_nav {
  width: 940px;
  min-height: 61px;
  display: flex;
  align-items: flex-start;
  margin: 0 auto 29px;
  position: relative;
  padding-top: 37px;
  box-sizing: border-box;
}

.footer_logo {
  position: absolute;
  background-color: var(--header-content-color);
  padding: 20px 41px 25px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  top: 0;
}

.footer_nav_list {
  padding: 0;
  margin: 0 0 0 auto;
  list-style: none;
  width: 720px;
  display: flex;
  justify-content: flex-end;
}

.footer_nav_list li:not(:first-child) {
  margin-left: 58px;
}

.footer_nav_link {
  color: var(--main-header-color);
  font-size: 18px;
  line-height: 24px;
}

.footer_contacts {
  width: 940px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto 54px;
}

.footer_contacts_information {
  color: var(--footer-information-color);
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  min-height: 49px;
  margin: 0;
  padding: 0;
}

.footer_catalog_list {
  padding: 5px 0 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.footer_catalog_list li:not(:first-child) {
  margin-left: 59px;
}

.footer_catalog_link {
  color: var(--footer-catalog-color);
  font-size: 18px;
  line-height: 24px;
}

.footer_nav_link:hover, .footer_catalog_link:hover {
  text-decoration: underline;
}

.footer_nav_link:active {
  text-decoration: none;
  color: var(--footer-nav-active-color);
}

.footer_catalog_link:active {
  text-decoration: none;
  color: var(--footer-catalog-active-color);
}

.footer_copyright {
  background-color: var(--basic-background-color);
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
}

.footer_copyright_position {
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.protect_rights {
  margin: 0 161px 0 0;
  padding-top: 36px;
}

.social_list {
  margin: 0;
  padding: 34px 0 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 138px;
}

.social_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: linear-gradient(0deg, #212A3A, #212A3A);
}

.social_link:hover,
.social_link:active {
  background: var(--header-content-color);
}

.copyright_list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 35px 0 35px auto;
}

.copyright_link {
  color: var(--footer-catalog-color);/* В Figma не смог понять какой точно это цвет, поэтому пока взял цвет со ссылок на каталог в футере*/
}

.copyright_item:last-child {
  margin-right: 13px;
  margin-left: 51px;
}

.copyright_link:hover {
  text-decoration: underline;
}

.copyright_link:active {
  text-decoration: none;
  color: red; /* В Figma не смог понять какой точно это цвет, поэтому пока что просто красный сделал*/
}
