:root {
  --footer-catalog-active-color: rgba(255, 209, 128, 0.5);
  --footer-nav-active-color: rgba(241, 245, 247, 0.5);
  --section-active-color: rgba(169, 169, 169, 0.3);
  --section-hover-color: rgba(197, 197, 197, 0.3);
  --basic-third-white: rgba(255, 255, 255, 0.3);
  --basic-half-white: rgba(255, 255, 255, 0.5);
  --basic-third-black: rgba(0, 0, 0, 0.3);
  --basic-fourth-black: rgba(0, 0, 0, 0.25);
  --basic-filter-black: rgba(0, 0, 0, 0.15);

  --modal-batton-container-color: #F4F4F4;
  --checkout-background-color: #63A63E;
  --footer-information-color: #F3F7F9;
  --catalog-item-title-color: #F2F6F8;
  --main-header-logo-active: #BA2732;
  --navigation-active-color: #1D2739;
  --product_link_buy_shadow: #367315;
  --product_link_buy_active: #518534;
  --basic-background-color: #293449;
  --header-contact-color: #32425c;
  --checkout-hover-color: #5FBB2D;
  --header-content-color: #EE3643;
  --products-price-color: #A9A9A9;
  --services_link_shadow: #405069;
  --filter-toggle-shadow: #CFCFCF;
  --filter-button-border: #E5E5E5;
  --footer-catalog-color: #FFD180;
  --catalog-filter-color: #F7F3EC;
  --catalog-border-color: #EAEAEA;
  --button-active-color: #BA2732;
  --popular-color-title: #F9F5F0;
  --credit-button-color: #FF5357;
  --filter-toggle-color: #ABABAB;
  --button-hover-color: #CA2C37;
  --filter-input-hover: #B5B5B5;
  --marks-active-color: #161D29;
  --login-active-color: #C5C5C5;
  --social-list-color: #212A3A;
  --main-header-color: #F1F5F7;
  --instruments-color: #3BBCE3;
  --link-hover-color: #3D546F;
  --materials-color: #FFBF47;
  --technics-color: #DC91D8;
  --delivery-color: #FFC047;
  --basket-button: #F1F1F1;
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --filter-line: #D7DCDE;
  --sale-color: #8ED78F;
  --bar-color: #00CA74;
}

.page a {
  text-decoration: none;
}

.catalog_page a {
  text-decoration: none;
}

.page_body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  margin: 0 auto;
}

.catalog_page_body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  margin: 0 auto;
}

.page img {
  max-width: 100%;
  height: auto;
}

/* header*/

.main_header {
  background-color: var(--main-header-color);
  padding-bottom: 60px;
}

.main_header_buttons {
  background-color: var(--basic-background-color);
  min-height: 42px;
}

.main_header_buttons_content {
  width: 940px;
  margin: 0 auto;
  display: flex;
  min-height: 42px;
}

.main_header_logo {
  display: block;
  background-color: var(--header-content-color);
  box-shadow: inset 0 -5px 0 var(--basic-fourth-black);
  filter: drop-shadow(0px 4px 4px var(--basic-fourth-black));
  padding: 12px 56px 13px;
  position: absolute;
}

.main_header_logo:active {
  background-color: var(--main-header-logo-active);
}

.user_nav_container {
  display: flex;
  width: 720px;
  margin-left: 220px;
  flex-wrap: wrap;
}

.header_button {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  display: block;
}

.search_field {
  display: block;
  position: relative;
}

.searching {
  width: 270px;
  height: 42px;
  border: none;
  padding-left: 42px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-white);
  background-color: var(--basic-background-color);
  box-sizing: border-box;
}

.searching::-webkit-input-placeholder {
  color: var(--basic-white);
}

.searching::-moz-placeholder {
  color: var(--basic-white);
}

.icon_search {
  position: absolute;
  top: 12px;
  left: 17px;
  fill: var(--basic-white);
  opacity: 0.3;
}

.searching:hover +.icon_search {
  opacity: 1;
}

.searching:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.searching:focus + .icon_search {
  fill: var(--header-content-color);
}

.marks {
  position: relative;
  margin-left: auto;
  padding-top: 9px;
  padding-left: 43px;
  box-sizing: border-box;
  width: 150px;
}

.marks::before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  left: 20px;
  top: 12px;
  background-image: url("../img/icon_bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket {
  position: relative;
  padding-top: 9px;
  padding-left: 35px;
  box-sizing: border-box;
  width: 136px;
  margin: 0 0 0 14px;
}

.basket_full {
  background-color: var(--header-content-color);
}

.basket::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  right: 109px;
  top: 12px;
  background-image: url("../img/icon_cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.checkout {
  padding-top: 9px;
  padding-left: 19px;
  box-sizing: border-box;
  width: 150px;
}

.marks:active {
  background-color: var(--marks-active-color);
}

.checkout {
  background-color: var(--checkout-background-color);
}

.checkout:hover {
  background-color: var(--checkout-hover-color);
}

.checkout:active {
  background-color: var(--checkout-background-color);
}

.header_button:hover::before {
  opacity: 1;
}

.header_button:active::before {
  opacity: 0.3;
}

.header_button:hover {
  color: var(--basic-white);
}

.header_button:active {
  color: var(--basic-half-white);
}

.header_position {
  width: 940px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 158px;
  position: relative;
}

.header_content {
  color: var(--header-content-color);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  padding: 0;
  margin: 43px 0 0 30px;
  align-self: flex-start;
}

.header_contact_position {
  align-self: flex-start;
  margin-left: 106px;
  margin-top: 46px;
}

.header_content_number {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  color: var(--header-content-color);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  outline: 3px solid var(--basic-white);
  outline-offset: -3px;
  padding: 7px 45px 8px 74px;
}

.header_content_number::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  left: 39px;
  top: 13px;
  background-image: url("../img/icon_phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header_contacts {
  color: var(--header-contact-color);
  font-size: 14px;
  line-height: 24px;
  margin-left: 10px;
  margin-top: 3px;
  width: 250px;
}

.login_list {
  margin-left: auto;
  align-self: flex-start;
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 46px;
}

.login_link {
  display: block;
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
}

.login {
  position: relative;
  padding: 12px 27px 12px 45px;
  margin-right: 10px;
}

.login_icon {
  position: absolute;
  left: 19px;
  top: 14px;
}

.registration {
  padding: 12px 24px;
}

.user_menu {
  position: relative;
  align-self: flex-start;
  margin-top: 46px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.user_cabinet {
  display: block;
  background-color: var(--basic-white);
  margin: 0 0 7px;
  padding: 12px 57px;
  position: relative;
  width: 300px;
  box-sizing: border-box;
}

.user_icon {
  position: absolute;
  top: 13px;
  left: 15px;
}

.user_name {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.logout_icon {
  position: absolute;
  top: 15px;
  left: 262px;
}

.user_list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 0 0 44px;
  align-self: flex-start;
}

.user_item {
  font-size: 16px;
  line-height: 18px;
  display: inline;
  position: relative;
}

.user_item:not(:first-child){
  margin-left: 33px;
}

.user_item:nth-child(2):before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: -16px;
  background-color: var(--header-contact-color);
}

.login_link:hover {
  color: var(--header-content-color);
}

.login_link:hover path,
.user:hover path,
.logout_icon:hover path {
  fill: var(--link-hover-color);
}

.login_link:active {
  color: var(--login-active-color);
}

.login_link:active path,
.user:active path,
.logout_icon:active path {
  fill: var(--login-active-color);
}

.user:active .user_name {
  color: var(--login-active-color);
}

.user_link {
  color: var(--header-contact-color);
}

.user_link:hover {
  color: var(--header-content-color);
}

.user:active, .user_link:active {
  color: var(--login-active-color);
}

.main_navigation_position {
  width: 940px;
  margin: 0 auto;
}

.navigation_list {
  background-color: var(--header-contact-color);
  min-height: 60px;
  box-shadow: inset 0 -5px 0 var(--basic-background-color);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0 25px;

}

.navigation_list li {
  display: inline;
}

.navigation_link {
  display: block;
  padding: 16px 28px 15px;
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.navigation_link:hover {
  background-color: var(--basic-background-color);
}

.navigation_link:active {
  color: var(--basic-half-white);
  background-color: var(--navigation-active-color);
}

/*Container*/

.container {
  padding-top: 59px;
}

.main_sections,
.popular,
.services_container,
.information {
  width: 940px;
  margin: 0 auto;
}

.sections_list_first {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
}

.sections_item {
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  width: 300px;
  min-height: 123px;
  position: relative;
  overflow: hidden;
}

.sections_item_title {
  display: block;
  margin: 0;
  padding-top: 20px;
  padding-left: 23px;
  width: 120px;
}

.materials .sections_item_title_new:after {
  content: "New";
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-white);
  width: 100px;
  padding: 8px 0 4px;
  position: absolute;
  left: 252px;
  top: -23px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--header-content-color);
  transform: rotate(45deg);
  transform-origin: top left;
}

.sections_item_button {
  display: block;
  font-weight: normal;
  width: 135px;
  text-align: center;
  padding: 10px 0;
  color: var(--basic-white);
  background-color: var(--basic-third-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 14px;
  margin-left: 22px;
}

.materials {
  background-color: var(--materials-color);
}

.materials::after {
  content: "";
  width: 44px;
  height: 65px;
  position: absolute;
  left: 213px;
  top: 31px;
  background-image: url("../img/icon_1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.instruments {
  background-color: var(--instruments-color);
}

.instruments::after {
  content: "";
  width: 75px;
  height: 61px;
  position: absolute;
  left: 194px;
  top: 34px;
  background-image: url("../img/icon_2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.technics {
  background-color: var(--technics-color);
}

.technics::after {
  content: "";
  width: 78px;
  height: 62px;
  position: absolute;
  left: 191px;
  top: 31px;
  background-image: url("../img/icon_3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sale {
  background-color: var(--sale-color);
}

.sale::after {
  content: "";
  width: 59px;
  height: 72px;
  position: absolute;
  left: 196px;
  top: 26px;
  background-image: url("../img/icon_4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery {
  background-color: var(--delivery-color);
}

.delivery::after {
  content: "";
  width: 78px;
  height: 63px;
  position: absolute;
  left: 191px;
  top: 32px;
  background-image: url("../img/icon_5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.second_main_section {
  display: flex;
  justify-content: space-between;
}

.gallery {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-black);
  position: relative;
}

.slide_background_perforates {
  background-image: url("../img/layer_99.jpg");
  background-color: var(--basic-black);
  width: 620px;
  height: 266px;
}

.slide_background_drill {
  background-image: url("../img/drill.jpg");
  background-color: var(--basic-black);
  width: 620px;
  height: 266px;
}

.gallery_container {
  background-color: var(--basic-fourth-black);
  padding-top: 23px;
  padding-bottom: 18px;
}

.slider_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider_item,
.services_slider_item {
  padding: 0;
}

.slide_perforates,
.slide_drill {
  display: none;
}

.slide_current {
  display: block;
}

.gallery_title {
  display: block;
  color: var(--basic-white);
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 0 24px;
}

.gallery_text {
  font-size: inherit;
  line-height: inherit;
  font-weight: normal;
  display: block;
  margin: 5px 0 0 24px;
}

.slider_switch button {
  margin: 0;
  padding: 0;
  border: none;
}

.switch_left {
  position: absolute;
  top: 114px;
  left: 25px;
  width: 21px;
  height: 39px;
  background-image: url("../img/slide_left.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.switch_right {
  position: absolute;
  top: 114px;
  right: 20px;
  width: 21px;
  height: 39px;
  background-image: url("../img/slide_right.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.slider_controls {
  position: absolute;
  bottom: 36px;
  left: 295px;
  display: flex;
  width: 30px;
  justify-content: space-between;
}

.slider_controls button {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
}

.slider_controls .current {
  background-color: var(--header-content-color);
  border: 2px solid var(--basic-white);
}

.button {
  display: block;
  border: none;
  color: var(--basic-white);
  background-color: var(--header-content-color);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
}

.gallery_button {
  margin-top: 97px;
  margin-left: 24px;
}

.popular_button_product {
  margin-right: 14px;
}

.popular_button_manufacturer {
  margin-right: 19px;
}

.button:hover {
  background-color: var(--button-hover-color);
}

.button:active {
  background-color: var(--button-active-color);
}

.sections_item_button:hover {
  background-color: var(--section-hover-color);
}

.sections_item_button:active {
  background-color: var(--section-active-color);
}

.sections_list_second {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products {
  margin-top: 59px;
  margin-bottom: 70px;
}

.manufacturers {
  margin-bottom: 50px;
}

.popular_title {
  color: var(--header-contact-color);
  font-size: 30px;
  line-height: 30px;
  background-color: var(--popular-color-title);
  height: 89px;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular_title span {
  margin-left: 28px;
  width: 690px;
}

.popular_products_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.popular_products_item,
.catalog_item {
  width: 220px;
  min-height: 318px;
  border: 1px solid var(--catalog-border-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.product_title {
  order: -1;
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.product_title_new:after {
  content: "New";
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-white);
  width: 100px;
  padding: 8px 0 4px;
  position: absolute;
  left: 171px;
  top: -23px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--header-content-color);
  transform: rotate(45deg);
  transform-origin: top left;
}

.product_picture {
  order: -2;
  height: 178px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular_product_link {
  display: none;
  order: -2;
  height: 178px;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-white);
  margin: 0;
  box-sizing: border-box;
  padding-top: 38px;
  padding-left: 41px;
}

.product_link_buy {
  display: block;
  color: inherit;
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 40px 10px 53px;
  margin: 0 0 10px;
  border: none;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: inset 0 -3px 0 var(--product_link_buy_shadow);
  background-color: var(--checkout-background-color);
  position: relative;
}

.product_link_buy::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 30px;
  top: 11px;
  background-image: url("../img/icon_cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.product_link_buy:hover {
  background-color: var(--checkout-hover-color);
}

.product_link_buy:active {
  background-color: var(--product_link_buy_active);
}

.product_link_to_marks {
  display: block;
  color: var(--header-contact-color);
  font: inherit;
  text-transform: uppercase;
  padding: 8px 31px 6px 30px;
  margin: 0;
  border: 3px solid var(--checkout-background-color);
  background-color: var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
}

.product_link_to_marks:hover {
  border: 3px solid var(--header-contact-color);
}

.product_link_to_marks:active {
  opacity: 0.5;
}

.product_price {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--products-price-color);
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  margin: auto 0 21px;
  display: flex;
  flex-direction: column;
}

.product_new_price {
  width: 121px;
  height: 38px;
  border-radius: 3px 0 0 3px;
  border: none;
  box-sizing: border-box;
  font-family: inherit;
  color: var(--basic-white);
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  background-color: var(--header-content-color);
  text-align: left;
  padding: 10px 0 0 32px;
  margin-left: 45px;
  position: relative;
}

.product_new_price:after {
  content: "";
  display: block;
  position: absolute;
  border: 19px solid transparent;
  border-left: 20px solid var(--header-content-color);
  right: -39px;
  top: 0;
}

.product_old_price {
  margin-bottom: 13px;
  margin-left: 77px;
}

.popular_products_item:hover,
.catalog_item:hover {
  box-shadow: 0 4px 20px var(--basic-filter-black);
}

.popular_products_item:hover .product_picture,
.catalog_item:hover .product_picture {
  display: none;
}

.popular_products_item:hover .popular_product_link,
.catalog_item:hover .popular_product_link {
  display: block;
}

.manufacturer_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.manufacturer_logo {
  margin-right: 20px;
  margin-bottom: 20px;
}

.manufacturer_logo_link {
  background-color: var(--basic-white);
  width: 220px;
  min-height: 145px;
  border: 1px solid var(--catalog-border-color);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manufacturer_logo:nth-child(4n) {
  margin-right: 0;
}

.manufacturer_logo:hover {
  box-shadow: 0 0 10px 5px var(--catalog-border-color);
}

.manufacturer_logo:active {
  box-shadow: 0 0 10px 5px var(--catalog-border-color);
  opacity: 0.5;
}

.services {
  background-color: var(--main-header-color);
  padding-top: 64px;
  padding-bottom: 101px;
  position: relative;
}

.services_title {
  color: var(--basic-black);
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 25px;
}

.services_text {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  width: 400px;
}

.services_position {
  display: flex;
  padding-top: 70px;
}

.services_list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.services_list:after {
  content: "";
  position: absolute;
  height: 279px;
  width: 10px;
  top: -49px;
  left: 231px;
  background-image: url("../img/layer_118.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.services_link {
  display: block;
  margin: 0;
  border: none;
  color: var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  background-color: var(--header-contact-color);
  padding: 14px 140px 18px 22px;
  box-shadow: 0 1px 0 var(--basic-background-color),
  inset 0 1px 0 var(--services_link_shadow);
  box-sizing: border-box;
  width: 240px;
}

.services_link_free:hover {
  background-color: var(--basic-background-color);
  box-shadow: 0 1px 0 var(--basic-background-color),
  inset 0 1px 0 var(--services_link_shadow);
}

.services_link_active {
  border: none;
  background-color: var(--basic-white);
  color: var(--header-contact-color);
  box-shadow: 0 1px 0 var(--basic-white),
  inset 0 1px 0 var(--basic-white);
}

.slider_container {
  padding-left: 80px;
}

.delivery_slider {
  display: none;
  position: relative;
}

.delivery_slider:before {
  content: "";
  width: 468px;
  height: 261px;
  position: absolute;
  left: 150px;
  bottom: -98px;
  background-image: url("../img/Car.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
}

.warranty_slider {
  display: none;
  position: relative;
}

.warranty_slider:before {
  content: "";
  width: 465px;
  height: 285px;
  position: absolute;
  left: 241px;
  bottom: -102px;
  background-image: url("../img/warranty.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
}

.credit_slider {
  display: none;
  position: relative;
}

.credit_slider:before {
  content: "";
  width: 465px;
  height: 285px;
  position: absolute;
  left: 165px;
  bottom: -100px;
  background-image: url("../img/credit.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.current_slider {
  display: block;
}

.slider_title {
  color: var(--header-contact-color);
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.slider_text_delivery,
.slider_text_credit {
  width: 300px;
}

.slider_text_warranty {
  width: 330px;
}

.credit_button {
  margin-top: 27px;
  font-size: 14px;
  line-height: 18px;
  width: 195px;
  background-color: var(--credit-button-color);
  border-radius: 2px;
}

.information {
  display: flex;
  padding-top: 70px;
  justify-content: space-between;
  margin-bottom: 70px;
}

.information_container {
  width: 460px;
}

.information_title {
  color: var(--basic-black);
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 24px;
}

.information_text {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.text_part_two {
  margin-top: 24px;
  width: 430px;
}

.text_part_three {
  width: 180px;
}

.companies_list {
  list-style: none;
  margin: 4px 0 20px;
  padding-left: 37px;
}

.companies_list li {
  position: relative;
}

.companies_list li:not(:last-child) {
  margin-bottom: 12px;
}

.companies_list li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -37px;
  width: 25px;
  height: 2px;
  background-color: var(--header-content-color);
}

.companies_item {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 24px;
}

.information_map {
  display: block;
  margin: 32px 0 21px;
}

.button_information {
  width: 220px;
}
.button_map {
  width: 300px;
}

/*Catalog*/

.catalog {
  background-color: var(--basic-white);
}

.catalog_item_title,
.catalog_nav_container,
.catalog_position,
.catalog_product_information_container {
  width: 940px;
  margin: 0 auto;
}

.catalog_nav_list {
  list-style: none;
  padding: 19px 0 0;
  margin: 0;
  display: flex;
  height: 60px;
  box-sizing: border-box;
}

.catalog_nav_item {
  position: relative;
  margin-right: 41px;
}

.catalog_nav_link {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog_nav_item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 5px;
  width: 8px;
  right: -25px;
  height: 12px;
  background-image: url("../img/Shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog_item_title_container {
  background-color: var(--catalog-item-title-color);
  margin: 0 auto;
  width: 940px;
}

.catalog_item_title {
  color: var(--header-contact-color);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  padding-left: 29px;
  padding-top: 29px;
  padding-bottom: 30px;
}

.catalog_position {
  display: grid;
  grid-template-columns: 1fr 3fr;
  -moz-column-gap: 20px;
  column-gap: 20px;
  padding-top: 20px;
}

/*Filter*/

.filter {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  position: relative;
}

.filter:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 220px;
  top: 244px;
  left: 0;
  background-color: var(--filter-line);
}

.filter_title {
  font-family: inherit;
  margin-bottom: 14px;
  width: 220px;
  background-color: var(--catalog-filter-color);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 9px 18px 10px;
}

.filter_item {
  margin: 0;
  padding: 0;
  border: none;
}

.range_filter {
  margin-top: 12px;
  width: 220px;
}

.filter_item legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.range_controls {
  position: relative;
  height: 41px;
  background-color: var(--catalog-filter-color);
  border-radius: 5px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.range_controls .scale {
  height: 2px;
  background: var(--filter-line);
}

.range_controls .bar {
  width: 150px;
  height: 2px;
  background: var(--bar-color);
}

.range_controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--filter-toggle-color);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--filter-toggle-shadow);
  cursor: pointer;
}

.range_controls .toggle_min {
  left: 18px;
}

.range_controls .toggle_max {
  left: 160px;
}

.price_controls {
  display: flex;
  justify-content: space-between;
}

.price_controls input {
  background-color: var(--catalog-filter-color);
  width: 95px;
  padding: 10px 0;
  text-align: center;
  border: none;
  border-radius: 5px;
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  position: relative;
}

.filter_manufacturers {
  margin-top: 42px;
  position: relative;
}

.filter_manufacturers:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 220px;
  top: 250px;
  left: 0;
  background-color: var(--filter-line);
}

.filter_manufacturers_list {
  padding: 0;
  list-style: none;
  font: inherit;
  font-size: 15px;
  line-height: 19px;
  margin: 17px 0 0 35px;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter_manufacturers_list li:not(:last-child) {
  margin-bottom: 21px;
}

.filter_manufacturers_item label,
.filter_power_item label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.filter_input_checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox_off.svg");
  background-repeat: no-repeat;
}


.filter_input_checkbox:hover + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox_off_hover.svg");
  background-repeat: no-repeat;
}

.filter_input_checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox_on.svg"), url("../img/checkbox_on(1).svg");
  background-position: 0 0, 4px 1px;
  background-repeat: no-repeat;
  background-color: var(--basic-white);
}

.filter_input_checkbox:checked:hover + label::after {
  background-image: url("../img/checkbox_on_hover.svg"), url("../img/checkbox_on(1)_hover.svg");
}

.filter_power {
  margin-top: 46px;
}

.filter_power_list {
  list-style: none;
  font: inherit;
  font-size: 15px;
  line-height: 19px;
  padding: 0;
  margin: 25px 0 0 35px;
}

.filter_power_item:first-child {
  margin-bottom: 23px;
}

.filter_power_item input {
  display: none;
}

.filter_input_radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 25px;
  height: 25px;
  border: 4px solid var(--login-active-color);
  border-radius: 50%;
  box-sizing: border-box;
}

.filter_input_radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -27px;
  width: 9px;
  height: 9px;
  background-color: var(--login-active-color);
  border-radius: 50%;
}

.filter_input_radio:hover + label::before {
  border: 4px solid var(--filter-input-hover);
}

.filter_input_radio:focus + label::before {
  border: 4px solid var(--filter-input-hover);
}

.filter_input_radio:checked:hover + label::after {
  background-color: var(--filter-input-hover);
}

.filter_input_radio:checked:focus + label::after {
  background-color: var(--filter-input-hover);
}

.filter_input_radio:focus + label{
  opacity: 0.4;
}

.filter_button {
  font: inherit;
  padding: 10px 0;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  margin-top: 37px;
  width: 220px;
  background-color: var(--basic-white);
  border: 1px solid var(--filter-button-border);
  box-sizing: border-box;
  cursor: pointer;
}

.filter_button:hover {
  background-color: var(--basic-white);
  border: 1px solid var(--login-active-color);
}

.filter_button:active {
  background-color: var(--basic-white);
  border: 1px solid var(--header-content-color);
}

/*sorting*/

.sorting {
  display: flex;
  background-color: var(--catalog-filter-color);
  border-radius: 3px;
  padding-top: 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  height: 38px;
  box-sizing: border-box;
  justify-content: space-between;
}

.sorting_title {
  margin-left: 20px;
}

.sorting_list {
  margin: 0 16px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.sorting_button,
.sorting_icon {
  padding: 0;
  font: inherit;
  text-transform: uppercase;
  border: none;
  color: var(--basic-third-black);
  background-color: var(--catalog-filter-color);
  cursor: pointer;
}

.sorting_button {
  background-image: linear-gradient(to right, var(--header-content-color) 50%, transparent 50%);
  background-position:0 1.26em;
  background-repeat: repeat-x;
  background-size: 1px 1px;
}

.sorting_item:last-child {
  margin-left: 21px;
}

.sorting_item:nth-child(4) {
  margin-left: 46px;
}

.sorting_item:nth-child(3) {
  margin-left: 65px;
}

.sorting_item:nth-child(2) {
  margin-left: 70px;
}

.sorting_item:hover .sorting_free{
  background-image: linear-gradient(to right, var(--header-content-color) 100%, transparent 0);
  background-position:0 1.26em;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  color: var(--basic-black);
}

.sorting_item:active .sorting_button {
  background-image: none;
  color: var(--header-content-color);
}

.sorting_active {
  background-image: none;
  color: var(--header-content-color);

}

.sorting_icon_free:hover path {
  fill: var(--basic-black);
}

.sorting_icon:active path {
  fill: var(--header-content-color);
}

.sorting_icon_active path {
  fill: var(--header-content-color);
}

.catalog_products {
  margin-bottom: 59px;
}

.catalog_products_list {
  list-style: none;
  margin: 0;
  padding-top: 28px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.catalog_item {
  margin-right: 20px;
  margin-bottom: 18px;
  width: 220px;
  min-height: 318px;
}

.catalog_item:nth-child(3n) {
  margin-right: 0;
}

.catalog_number_list {
  list-style: none;
  padding: 0;
  margin: 28px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.catalog_number_link {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  display: inline-block;
  vertical-align: baseline;
  border: 1px solid var(--catalog-border-color);
  box-sizing: border-box;
  border-radius: 2px;
  padding: 10px 15px;
  margin-right: 9px;
}

.catalog_number_item:last-child .catalog_number_link {
  padding: 10px 31px;
  margin-right: 0;
}

.catalog_number_link_free:hover {
  border: 1px solid var(--login-active-color);
}

.catalog_number_link_free:active {
  border: 1px solid var(--header-content-color);
}

.catalog_number_link_active {
  color: var(--basic-white);
  background-color: var(--header-content-color);
  border: 1px solid var(--header-content-color);
}

.catalog_product_information {
  background-color: var(--main-header-color);
}

.catalog_product_information_container {
  padding-top: 65px;
  padding-bottom: 70px;
}

.catalog_product_title {
  padding: 0;
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.catalog_product_content {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  padding: 0;
  margin-top: 24px;
}

/*Footer*/

.main_footer {
  background-color: var(--header-contact-color);
}

.footer_nav {
  width: 940px;
  min-height: 61px;
  display: flex;
  align-items: flex-start;
  margin: 0 auto 29px;
  position: relative;
  padding-top: 37px;
  box-sizing: border-box;
}

.footer_logo {
  position: absolute;
  top: 0;
  background-color: var(--header-content-color);
  padding: 20px 41px 20px;
  box-shadow: inset 0 -5px 0 var(--basic-fourth-black);
}

.footer_nav_list {
  padding: 0;
  list-style: none;
  width: 610px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0 0 0 auto;
}

.footer_nav_list li:not(:first-child) {
  margin-left: 58px;
}

.footer_nav_link {
  color: var(--main-header-color);
  font-size: 18px;
  line-height: 24px;
}

.footer_contacts {
  width: 940px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto 54px;
}

.footer_contacts_information {
  color: var(--footer-information-color);
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  min-height: 49px;
  margin: 0 0 0 3px;
  padding: 0;
  width: 330px;
}

.footer_catalog_list {
  padding: 5px 0 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 610px;
}

.footer_catalog_list li:not(:first-child) {
  margin-left: 59px;
}

.footer_catalog_link {
  color: var(--footer-catalog-color);
  font-size: 18px;
  line-height: 24px;
}

.footer_nav_link:hover, .footer_catalog_link:hover {
  text-decoration: underline;
}

.footer_nav_link:active {
  text-decoration: none;
  color: var(--footer-nav-active-color);
}

.footer_catalog_link:active {
  text-decoration: none;
  color: var(--footer-catalog-active-color);
}

.footer_copyright {
  background-color: var(--basic-background-color);
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
}

.footer_copyright_position {
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.protect_rights {
  margin: 0 161px 0 0;
  padding-top: 36px;
  width: 227px;
}

.social_list {
  margin: 0;
  padding: 34px 0 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 136px;
}

.social_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: linear-gradient(0deg, var(--social-list-color), var(--social-list-color));
}

.social_link:hover,
.social_link:active {
  background: var(--header-content-color);
}

.copyright_list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 35px 0 35px auto;
}

.copyright_link {
  color: var(--footer-catalog-color);
  display: block;
}

.copyright_item:last-child {
  margin-right: 13px;
  margin-left: 51px;
}

.copyright_link:hover {
  text-decoration: underline;
}

.copyright_link:active {
  text-decoration: none;
  color: red;
}

/*Modal*/

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font: inherit;
  font-weight: normal;
  line-height: 24px;
}

.modal_write_us {
  display: none;
  width: 620px;
  height: 430px;
  background-color: var(--basic-white);
  -webkit-filter: drop-shadow(0px 4px 20px var(--basic-filter-black));
  filter: drop-shadow(0px 4px 20px var(--basic-filter-black));
  box-shadow: inset 0 7px 0 0 var(--header-content-color);
}

.modal_container {
  display: flex;
  flex-direction: column;
  min-height: 430px;
  margin: 0;
  justify-content: space-between;
}

.modal_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 46px 80px 0 80px;
  padding: 0;
}


.input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  margin-top: 11px;
  margin-bottom: 13px;
  border: 2px solid var(--login-active-color);
  box-sizing: border-box;
  border-radius: 2px;
  width: 220px;
  height: 38px;
  padding-left: 12px;
}

.modal_item:last-child .input {
  margin-bottom: 0;
}

.input_text_container {
  min-height: 114px;
  width: 460px;
}

.modal_button_container {
  background-color: var(--modal-batton-container-color);
}

.modal_button {
  margin: 37px 80px;
  width: 460px;
}

.modal_close {
  position: absolute;
  top: 21px;
  right: 11px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal_close::before,
.modal_close::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 21px;
  height: 3px;
  border-radius: 1px;
  background-color: var(--header-content-color);
}

.modal_close::before {
  transform: rotate(45deg);
}

.modal_close::after {
  transform: rotate(-45deg);
}

.modal_map {
  display: none;
  width: 943px;
  height: 449px;
  background-color: var(--basic-white);
  -webkit-filter: drop-shadow(0px 4px 20px var(--basic-filter-black));
  filter: drop-shadow(0px 4px 20px var(--basic-filter-black));
  box-shadow: inset 0 7px 0 0 var(--header-content-color);
}

.modal_map iframe {
  border: none;
  padding-top: 7px;
}

.modal_basket {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 620px;
  height: 282px;
  background-color: var(--basic-white);
  -webkit-filter: drop-shadow(0px 4px 20px var(--basic-filter-black));
  filter: drop-shadow(0px 4px 20px var(--basic-filter-black));
  box-shadow: inset 0 7px 0 0 var(--header-content-color);
}

.modal_basket_title {
  position: relative;
  font: inherit;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: bold;
  margin: 0;
  text-align: center;
  padding: 73px 0 68px;
}

.modal_basket_title:before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  left: 81px;
  top: 55px;
  background-image: url("../img/icon_mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket_button_list {
  list-style: none;
  margin: 0;
  padding: 37px 0 37px 114px;
  display: flex;
  background-color: var(--basket-button);
}

.basket_button_item:first-child {
  margin-right: 10px;
}

.basket_button_continue {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.basket_button_continue:hover {
  background-color: var(--basic-white);
}

.modal_show {
  display: block;
  -webkit-animation-name: appearance;
  animation-name: appearance;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

@-webkit-keyframes appearance {
  0% {
    transform: translateY(-500px);
  }
  60% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes appearance {
  0% {
    transform: translateY(-500px);
  }
  60% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}
