:root {
  --main-header-color: #f1f5f7;
  --section-hover-color: rgba(197, 197, 197, 0.3);
  --section-active-color: rgba(169, 169, 169, 0.3);
  --footer-nav-active-color: rgba(241, 245, 247, 0.5);
  --footer-catalog-active-color: rgba(255, 209, 128, 0.5);
  --basic-third-white: rgba(255, 255, 255, 0.3);
  --basic-half-white: rgba(255, 255, 255, 0.5);
  --basic-background-color: #293449;
  --basic-white: #FFFFFF;
  --marks-active-color: #161D29;
  --checkout-background-color: #63A63E;
  --checkout-hover-color: #5FBB2D;
  --login-active-color: #C5C5C5;
  --header-contact-color: #32425C;
  --materials-color: #FFBF47;
  --instruments-color: #3BBCE3;
  --technics-color: #DC91D8;
  --sale-color: #8ED78F;
  --delivery-color: #FFC047;
  --header-content-color: #EE3643;
  --button-hover-color: #CA2C37;
  --button-active-color: #BA2732;
  --popular-color-title: #F9F5F0;
  --basic-black: #000000;
  --products-price-color: #A9A9A9;
  --footer-information-color: #F3F7F9;
  --footer-catalog-color: #FFD180;
  --social-list-color: #212A3A;
  --navigation-active-color: #1D2739;
}

.page_body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.page a {
  text-decoration: none;
}

.page img {
  max-width: 100%;
  height: auto;
}

/* header*/
.main_header {
  background-color: var(--main-header-color);
}

.header_button_image {
  width: 17px;
  height: 17px;
  color: var(--basic-half-white);
}

.main_header_buttons {
  background-color: var(--basic-background-color);
}

.header_button {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.marks:active {
  background-color: var(--marks-active-color);
}

.checkout {
  background-color: var(--checkout-background-color);
}

.checkout:hover {
  background-color: var(--checkout-hover-color);
}

.checkout:active {
  background-color: var(--checkout-background-color);
}

.header_button:hover {
  color: var(--basic-white);
}

.header_button:active {
  color: var(--basic-half-white);
}

.header_content {
  color: var(--header-content-color);
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.header_content_number {
  color: var(--header-content-color);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  border: 3px solid var(--basic-white);
}

.header_contacts {
  color: var(--header-contact-color);
  font-size: 14px;
  line-height: 24px;
}

.login_list {
  list-style: none;
}

.login_list li {
  display: inline;
}

.login_link {
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
}

.login_link:hover {
  color: var(--header-content-color);
}

.login_link:active {
  color: var(--login-active-color);
}

.navigation_list {
  background-color: var(--header-contact-color);
  list-style: none;
}

.navigation_list li {
  display: inline;
}

.navigation_link {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.navigation_link:hover {
  background-color: var(--basic-background-color);
}

.navigation_link:active {
  color: var(--basic-half-white);
  background-color: var(--navigation-active-color);
}

/*container*/

.sections_item {
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
  width: 300px;
  height: 123px;
}

.sections_item_button {
  color: var(--basic-white);
  background-color: var(--basic-half-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.materials {
  background-color: var(--materials-color);
}

.instruments {
  background-color: var(--instruments-color);
}

.technics {
  background-color: var(--technics-color);
}

.sale {
  background-color: var(--sale-color);
}

.delivery {
  background-color: var(--delivery-color);
}

.button {
  color: var(--basic-white);
  background-color: var(--header-content-color);
  font-size: 14px;
  line-height: 18px;
  width: 100px;
  height: 18px;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--button-hover-color);
}

.button:active {
  background-color: var(--button-active-color);
}

.sections_item_button:hover {
  background-color: var(--section-hover-color);
}

.sections_item_button:active {
  background-color: var(--section-active-color);
}

.popular_title {
  color: var(--header-contact-color);
  font-size: 30px;
  line-height: 30px;
  background-color: var(--popular-color-title);
  width: 940px;
  height: 89px;
  text-transform: uppercase;
}

.popular_products_list {
  list-style: none;
}

.product_title {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.product_price {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--products-price-color);
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.button_price {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-white);
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  background-color: red;
}

.manufacturer_list {
  list-style: none;
}

.services {
  background-color: var(--main-header-color);
}

.services_title {
  color: var(--basic-black);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services_text {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 24px;
}

.services_list {
  list-style: none;
}

.services_link {
  color: var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  background-color: var(--header-contact-color);
  font-weight: bold;
}

.services_link:hover {
  background-color: var(--basic-background-color);
}

.services_link:active {
  background-color: var(--basic-white);
  color: var(--header-contact-color);
}

.delivery_title {
  color: var(--header-contact-color);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.information_title {
  color: var(--basic-black);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.information_text {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 24px;
}

.companies_item {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 24px;
}

.main_footer {
  background-color: var(--header-contact-color);
}

.footer_logo {
  background-color: red;
}

.footer_nav_list {
  list-style: none;
}

.footer_nav_list li {
  display: inline;
}

.footer_nav_link {
  color: var(--main-header-color);
  font-size: 18px;
  line-height: 24px;
}

.footer_contacts_information {
  color: var(--footer-information-color);
  font-size: 18px;
  line-height: 24px;
}

.footer_catalog_list {
  list-style: none;
}

.footer_catalog_list li {
  display: inline;
}

.footer_catalog_link {
  color: var(--footer-catalog-color);
  font-size: 18px;
  line-height: 24px;
}

.footer_nav_link:hover, .footer_catalog_link:hover {
  text-decoration: underline;
}

.footer_nav_link:active {
  text-decoration: none;
  color: var(--footer-nav-active-color);
}

.footer_catalog_link:active {
  text-decoration: none;
  color: var(--footer-catalog-active-color);
}

.social_list li {
  display: inline;
  background-color: var(--social-list-color);
}

.footer_copyright {
  background-color: var(--basic-background-color);
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
}

.social_list {
  list-style: none;
}

.copyright_link {
  color: var(--footer-catalog-color);/* В Figma не смог понять какой точно это цвет, поэтому пока взял цвет со ссылок на каталог в футере*/
}

.copyright_link:hover {
  text-decoration: underline;
}

.copyright_link:active {
  text-decoration: none;
  color: red; /* В Figma не смог понять какой точно это цвет, поэтому пока что просто красный сделал*/
}




